body {
  margin: 0;
  padding: 0; 
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .container .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
  .container .logoImg {
    width: 100px;
    height: 100px;
  }
  
  .container .header span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 15px;
  }
  
  .container form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .container   .inputContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .container   .inputContainer label {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  
  .container   .inputContainer input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 500px;
    height: 35px;
    border: 1px solid #4763E4;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 8px;
  }
  
   a {
    line-height: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #5C73DB;
    text-decoration: inherit;
  }
  
  a:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
 
    button:hover {
    cursor: pointer;
    opacity: 0.8;
    
  }
  
  .container  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
  }
  
  .container  .footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  .container  .footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #5C73DB;
  }


  @media (max-width: 600px) {

    .container   .inputContainer input {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px;
      width: 350px;
      height: 20px;
      border: 1px solid #5C73DB;
      border-radius: 12px;
      margin-bottom: 12px;
    
    }

  }

  @media (max-width: 380px) {

    .container   .inputContainer input {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px;
      width: 270px;
      height: 18px;
      border: 1px solid #5C73DB;
      border-radius: 12px;
      margin-bottom: 12px;
    
    }

  }